.logo {
    width: 100%;
}
#newElement {
    width: 100%;
}

.input-area button {
    width: calc(100% - 15px);
    margin-left: 15px;
    border-radius: 10px;
    border: none;
}

.input-area input {
    width: 100%;
}

.area{
    margin-top: 25px;
    margin-bottom: 25px;
}

.list-content{

    background-color: rgb(241, 235, 235);
    list-style: none;
    border-radius: 10px;
}

.list-content li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    margin: 0 22px;
    padding: 0 10px;
    border-bottom: rgb(68, 68, 68);
}

.list-content li:hover {
    background-color: white;
}

.list-content li i {
    cursor: pointer;
}

.list-content li:first-child {
    margin-top: 18px;
}

.list-content li:last-child {
    margin-bottom: 18px;
}